.sansserif{
    font-family: 'Roboto', sans-serif;
}

  .header {
    background-color: #f1f1f1;
    padding: 25px;
    text-align: center;
  }

  body {
    background-color: rgb(255, 255, 255);
    padding: 50px;
  }

  .card {
      padding-top: 20px;
  }
  input[type=text] {
    width: 50%;
    padding: 10px 40px;
    margin: 8px 0px;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 4px;
    background-color: #ffffff;
    color: rgb(41, 41, 41);
  }

  .footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 25px;
    margin-top: 100px;
  }
